Repository bitPogo/kfixture, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, core, ktx-datetime

.github/labeler.yml:

ci:
  - .github/**/*

dependencies:
  - setup/**/*

documentation:
  - docs/**/*
  - README.md
  - LICENSE
  - CHANGELOG.md
  - CODE-OF-CONDUCT.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTION.md
  - SECURITY.md

# Library
core:
  - core/**/*

ktx-datetime:
  - ktx-datetime/**/*

Publish unspecified documentation
  unspecified/index.html
  unspecified/search/search_index.json
  unspecified/sitemap.xml
  unspecified/sitemap.xml.gz
Labels: none

Update Changelog for new source targets
  CHANGELOG.md
Labels: documentation

Update Contributing with AS 2022.1.1
  CONTRIBUTING.md
  README.md
Labels: documentation

Use linux-all for Snapshot and Release
  .github/workflows/ci-release.yml
  .github/workflows/ci-snapshot.yml
Labels: ci

Adjust OSSR
  .github/workflows/ci-release.yml
Labels: ci

Publish unspecified documentation
  unspecified/changelog/index.html
  unspecified/development/contributing/index.html
  unspecified/index.html
  unspecified/search/search_index.json
  unspecified/sitemap.xml
  unspecified/sitemap.xml.gz
Labels: none

Split checks to improve ci-performance
  .github/workflows/ci-pull-request-validation.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-snapshot.yml
Labels: ci

Publish unspecified documentation
  unspecified/sitemap.xml.gz
Labels: none

Cover TimeZone JS change
  ktx-datetime/src/jsTest/kotlin/tech/antibytes/kfixture/ktx/datetime/generator/TimeZoneGeneratorSpec.kt
Labels: ktx-datetime

Change DependentGeneratorStub
  core/src/commonTest/kotlin/tech/antibytes/kfixture/mock/DependentGeneratorStub.kt
Labels: core

Update Gradle to 8.6
  .gitignore
  .java_version
  gradle/wrapper/gradle-wrapper.properties
Labels: none

Make prefix optionial in Danger
  Dangerfile.df.kts
Labels: none

Bump Dependencies to dda2add
  CHANGELOG.md
  core/build.gradle.kts
  core/src/androidIntrumentedTest/kotlin/tech/antibytes/kfixture/ClassNameResolverSpec.kt
  core/src/androidIntrumentedTest/kotlin/tech/antibytes/kfixture/IgnorePlatform.kt
  core/src/androidIntrumentedTest/kotlin/tech/antibytes/kfixture/PlatformClassNames.kt
  core/src/androidUnitTest/kotlin/tech/antibytes/kfixture/ClassNameResolverSpec.kt
  core/src/androidUnitTest/kotlin/tech/antibytes/kfixture/IgnorePlatform.kt
  core/src/androidUnitTest/kotlin/tech/antibytes/kfixture/PlatformClassNames.kt
  gradle.properties
  ktx-datetime/build.gradle.kts
  ktx-datetime/src/androidUnitTest/kotlin/tech/antibytes/kfixture/ktx/datetime/generator/TimeZoneGeneratorSpec.kt
  settings.gradle.kts
  setup/settings.gradle.kts
Labels: dependencies, documentation, core, ktx-datetime

Update Gradle Policy
  gradle.properties
Labels: none

Apply KTLint Changes
  CHANGELOG.md
  build.gradle.kts
  core/src/androidMain/kotlin/tech/antibytes/kfixture/ClassNameResolver.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/ArrayFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/ClassNameResolver.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/CollectionFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/EnumFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/FilterableFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/ListFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/MapFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/RangedFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/RangedNumericArrayFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/RangedSpecialArrayFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/SequenceFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/SetFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/SignedNumericArrayFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/SignedNumericFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/TupleFixture.kt
  core/src/commonMain/kotlin/tech/antibytes/kfixture/generator/selector/Binding.kt
  core/src/commonTest/kotlin/tech/antibytes/kfixture/fixture/RangedSpecialArrayFixtureSpec.kt
  core/src/jsMain/kotlin/tech/antibytes/kfixture/ClassNameResolver.kt
  core/src/jsMain/kotlin/tech/antibytes/kfixture/ListFixtureJs.kt
  core/src/jvmMain/kotlin/tech/antibytes/kfixture/ClassNameResolver.kt
  core/src/nativeMain/kotlin/tech/antibytes/kfixture/ClassNameResolver.kt
  core/src/noJsMain/kotlin/tech/antibytes/kfixture/ListFixtureNoJs.kt
  docs/src/changelog.md
  gradle.properties
  ktx-datetime/build.gradle.kts
  ktx-datetime/src/commonMain/kotlin/tech/antibytes/kfixture/ktx/datetime/Setup.kt
  ktx-datetime/src/commonMain/kotlin/tech/antibytes/kfixture/ktx/datetime/fixture/DateTimeFixture.kt
  ktx-datetime/src/commonMain/kotlin/tech/antibytes/kfixture/ktx/datetime/fixture/InstantFixture.kt
  ktx-datetime/src/commonTest/kotlin/tech/antibytes/kfixture/ktx/datetime/fixture/InstantFixtureSpec.kt
  settings.gradle.kts
Labels: documentation, core, ktx-datetime

Adjust DetektBaseline
  detekt/baseline.xml
Labels: none

Bump Joda
  gradle/package.json
Labels: none

Solve issues after Update
  gradle.properties
  ktx-datetime/api/android/ktx-datetime.api
  ktx-datetime/src/jsTest/kotlin/tech/antibytes/kfixture/ktx/datetime/generator/TimeZoneGeneratorSpec.kt
Labels: ktx-datetime

Bump to ae101dc
  CHANGELOG.md
  settings.gradle.kts
  setup/settings.gradle.kts
Labels: dependencies, documentation

Remove redunant test for release
  .github/workflows/ci-release.yml
Labels: ci

Bump to Gradle 8.6
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

Use Project Accessors
  ktx-datetime/build.gradle.kts
Labels: ktx-datetime

Fix publishing issue
  core/build.gradle.kts
Labels: core

Make Setup cacheable
  core/build.gradle.kts
  setup/settings.gradle.kts
Labels: dependencies, core

Bump to d067446
  core/build.gradle.kts
  core/src/nativeMain/kotlin/tech/antibytes/kfixture/ClassNameResolver.kt
  settings.gradle.kts
  setup/settings.gradle.kts
Labels: dependencies, core

Bump to c657a3f
  core/build.gradle.kts
  settings.gradle.kts
  setup/settings.gradle.kts
Labels: dependencies, core

Bump to a9d047f
  build.gradle.kts
  settings.gradle.kts
  setup/settings.gradle.kts
Labels: dependencies

Update README
  CHANGELOG.md
Labels: documentation

Update Workflows
  .github/workflows/ci-release.yml
  .github/workflows/ci-snapshot.yml
Labels: ci

Fix Docs
  .github/workflows/ci-snapshot.yml
  docs/build.gradle.kts
  docs/mkdocs.yml
  settings.gradle.kts
  setup/settings.gradle.kts
Labels: ci, dependencies, documentation

Ajdust SnapshotFlow CodingConvention Group
  .github/workflows/ci-release.yml
Labels: ci

Publish unspecified documentation
  unspecified/sitemap.xml.gz
Labels: none

Bump to 601dc8e
  settings.gradle.kts
  setup/settings.gradle.kts
Labels: dependencies

Publish unspecified documentation
  unspecified/sitemap.xml
  unspecified/sitemap.xml.gz
Labels: none
